.sidebar {
  position: fixed;
  top: 80px; /* below header */
  left: 0; /* stick to left corner */
  bottom: 0; /* stretch to bottom */
  width: 250px;

  font-weight: bold;
  font-size: large;

  overflow-y: auto;

  background-color: #ffffff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0 12px 12px 0;
}

/* Menu list */
.mylist {
  padding-top: 30px;
  list-style: none;
}

/* Sidebar title */
.sidebar h2 {
  margin: 20px 0 30px 15px;
}

/* Menu items */
.mylist-two,
.mylist-three,
.mylist-four,
.mylist-five {
  padding: 12px 15px;
}
